<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="texteditorBean" class="com.vpz.beans.TextEditor">
   <property name="spellchecker" ref="spellcheckerBean"/>
   </bean>
   
   <bean id="spellcheckerBean" class="com.vpz.beans.SpellChecker"/>

</beans>