<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="democodeBean" class="com.vpz.beans.DemoCode">
   <property name="message1" value="Hello World1"/>
   <property name="message2" value="Hello World2"/>
   </bean>
   <bean id="democodeextenderBean" class="com.vpz.beans.DemoCodeExtender" parent="democodeBean">
   <property name="message1" value="Hello India"/>
   <property name="message3" value="Namaste India"/>
   </bean>

</beans>