<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="teBean" class="com.vpz.beans.TextEditor" autowire="constructor">
   <constructor-arg value="generic text editor"/>
   </bean>
   
   <bean id="spellChecker" class="com.vpz.beans.SpellChecker"/>

</beans>